@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-josefin: "Josefin Sans", sans-serif;
  --font-kalam: "Kalam", cursive;
}

.font-kalam {
  font-family: var(--font-kalam);
}

::selection {
  @apply bg-red-500 text-black;
}

body {
  @apply bg-black;
}

* {
  font-family: var(--font-josefin);
}
